@model ForgetPasswordViewModel
@{
    ViewData["Title"] = "ForgetPassword";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}

<div class="main-agileinfo">
	<div class="agileits-top">
		<div asp-validation-summary="All" class="text-danger"></div>
		@Html.ValidationSummary(true, "", new { @class = "text-danger" })
		<form asp-action="ForgetPassword">

			<input class="text email" type="email" asp-for="@Model.Email" placeholder="Email">

		<div class="clear"> </div>
			
			<input type="submit" value="FORGET PASSWORD">
		</form>
